/**/node_modules/
/package.json
/report.json
/src/app/design/frontend/Augustash/carbon/web/*
!/src/app/design/frontend/Augustash/carbon/web/fonts/
/src/dev/tools/gulp/configs/*.local.js
/src/gulp-config.json
/src/Gulpfile.esm.js
/src/Gulpfile.js
/yarn-error.log
