.nav-sections {
  margin-bottom: 0;

  .navigation {

    .level0 {

      > .level-top {
        transition: border $global-speed, color $global-speed;

        &:hover {
          border-bottom: 3px solid $primary-color;
          color: $primary-color;
        }
      }

      &.active,
      &.has-active {

        > .level-top {
          color: $primary-color;
          border-color: $primary-color;
        }

        > a:not(.ui-state-active) {
          border-color: $primary-color;
        }
      }

      &.last {
        @media (max-width: 768px) {

          > .level-top {
            color: $body-font-color;

            &:visited {
              color: $body-font-color;
            }
          }
        }
      }

      .submenu {

        .active {

          > a {
            border-color: $primary-color;
          }
        }

        .parent {

          a {
            color: $body-font-color;

            &:visited {
              color: $body-font-color;
            }
          }
        }
      }
    }
  }
}

// Header links in page-header.
.header.links {

  li {
    display: inline-block;
    margin-bottom: 0;

    a {
      color: $white;
      transition: color $global-speed, background-color $global-speed;

      &:hover {
        color: $primary-color;
      }
    }

    + li {
      padding-left: $global-padding;
    }

    &.authorization-link {
      border-left: 0;
      margin-right: $global-margin;

      &:hover {

        a {
          background: transparent;
        }
      }
    }
  }
}

.block-collapsible-nav {

  .item {

    &.current {

      a {
        border-color: $primary-color;
      }
    }
  }
}
