
.products-grid.grid {

  .product-items { // wrapping ol
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .product-item { // wrapping li
      border: 1px solid $grey-light;
      padding: ($global-padding * 2) ($global-padding * 4);
      text-align: center;
      display: flex;
      flex-direction: column;

      .product-item-info { // inner div inside the li
        flex: 1;
        display: flex;
        flex-direction: column;

        &:hover {
          background: transparent;
          box-shadow: none;
          border: 0;
          margin: 0;
          padding: 0;
        }

        // Hover state that will cheat the dual links.
        // If the photo link is hovered, the title changes as well as if it was hovered.
        .product-item-photo {

          &:hover {

            + .product-item-details {

              .product-item-link {
                color: $primary-color;
              }
            }
          }
        }

        .product-item-details {
          flex: 1;
          display: flex;
          flex-direction: column;

          .product-item-link {
            transition: color $global-speed;

            &:hover {
              color: $primary-color;
              text-decoration: none;
            }
          }

          .price-box {
            margin: auto auto $global-margin;
          }

          .price-container {

            .price-label {
              display: inline-block;
              margin-right: $global-margin / 2;
            }
          }
        }
      }
    }
  }

  .block-products-list & {

    .product-items {

      .product-item {
        width: 48%;
        margin: $global-margin 1%;

        @include breakpoint(large) {
          width: 23%;
          margin: 0 1%;
        }
      }
    }
  }
}
