
.category-subcategory-list {
  @include spacing;
  @include set-grid-container;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;

  li {
    flex: 1 1 33%;
    margin: 0;

    @include breakpoint(medium) {
      flex: 1 1 20%;
    }

    @include breakpoint(large) {
      flex: 1 1 0;
    }

    a {
      border-radius: $global-radius;
      color: $font-black;
      display: block;
      text-align: center;
      transition: color $global-speed, background-color $global-speed;

      .icon {

        .image {
          display: block;
          margin-left: auto;
          margin-right: auto;
          transition: filter $global-speed;
          -webkit-transition: $global-speed -webkit-filter ease; /* stylelint-disable-line property-no-vendor-prefix */
          -moz-transition: $global-speed -moz-filter ease; /* stylelint-disable-line property-no-vendor-prefix */
          -moz-transition: $global-speed filter ease; /* stylelint-disable-line property-no-vendor-prefix */
          -ms-transition: $global-speed -ms-filter ease; /* stylelint-disable-line property-no-vendor-prefix */
          -o-transition: $global-speed -o-filter ease; /* stylelint-disable-line property-no-vendor-prefix */
        }
      }

      &:hover {
        background-color: $primary-color;
        color: $white;

        .icon {

          .image {
            filter: brightness(0) invert(1);
          }
        }
      }
    }
  }
}
