
.callout-widget {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
    background-color: $white-offset;
  }

  .callout-wrapper {
    @include spacing($type: padding, $multiplier: 2);
    @include set-grid-container;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include breakpoint(medium) {
      flex-direction: row;
    }

    .callout-content {
      padding: $global-padding ($global-padding * 2);
      width: auto;

      @include breakpoint(medium) {
        padding: 0;
        width: 50%;
      }

      .callout-subtitle {
        color: $primary-color;
        font-weight: bold;
      }
    }
  }

  &.callout-left {

    .callout-wrapper {

      .callout-content {

        @include breakpoint(medium) {
          padding-left: $global-padding * 3;
        }
      }
    }
  }

  &.callout-right {

    .callout-wrapper {

      .callout-content {

        @include breakpoint(medium) {
          padding-right: $global-padding * 3;
        }
      }
    }
  }
}
