// ------------------------------------------------------------------------------
// TYPOGRAPHY
// ------------------------------------------------------------------------------
@include font-face(calibre-bold, '../fonts/Calibre/Calibre-Bold', bold, normal, $font-format);
@include font-face(calibre-italic, '../fonts/Calibre/Calibre-MediumItalic', italic, normal, $font-format);
@include font-face(calibre-regular, '../fonts/Calibre/Calibre-Regular', normal, normal, $font-format);
@include font-face(calibre-semibold, '../fonts/Calibre/Calibre-Semibold', normal, normal, $font-format);

::selection {
  background: $primary-color;
  color: $white;
}

a,
.alink {
  color: $primary-color;

  &:visited {
    color: $primary-color;

    &:hover {
      color: darken($primary-color, 20);
    }
  }

  &:hover {
    color: darken($primary-color, 20);
  }
}
