
.breadcrumbs {

  .items {
    font-size: rem-calc(16);
  }

  .item {

    &:not(:last-child) {

      &:after {
        vertical-align: middle;
      }
    }
  }

  a {
    color: $primary-color;

    &:visited {
      color: $primary-color;
    }

    &:hover {
      color: darken($primary-color, 20);
    }
  }
}
