form,
.form {

  input[type='checkbox'],
  input[type='radio'] {
    position: relative;
    top: 0;
  }

  .action.submit,
  .action.save,
  input[type='submit'] {
    font-size: rem-calc(16, $base-font-size);
  }
}

.fieldset {
  margin-bottom: $global-margin * 2;
}
